.highlight {
  background: #f0f0f0; }
  .highlight .hll {
    background-color: #ffffcc; }
  .highlight .c {
    color: #60a0b0;
    font-style: italic; }
  .highlight .err {
    border: 1px solid #FF0000; }
  .highlight .k {
    color: #007020;
    font-weight: bold; }
  .highlight .o {
    color: #666666; }
  .highlight .ch, .highlight .cm {
    color: #60a0b0;
    font-style: italic; }
  .highlight .cp {
    color: #007020; }
  .highlight .cpf, .highlight .c1 {
    color: #60a0b0;
    font-style: italic; }
  .highlight .cs {
    color: #60a0b0;
    background-color: #fff0f0; }
  .highlight .gd {
    color: #A00000; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #FF0000; }
  .highlight .gh {
    color: #000080;
    font-weight: bold; }
  .highlight .gi {
    color: #00A000; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #c65d09;
    font-weight: bold; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .highlight .gt {
    color: #0044DD; }
  .highlight .kc, .highlight .kd, .highlight .kn {
    color: #007020;
    font-weight: bold; }
  .highlight .kp {
    color: #007020; }
  .highlight .kr {
    color: #007020;
    font-weight: bold; }
  .highlight .kt {
    color: #902000; }
  .highlight .m {
    color: #40a070; }
  .highlight .s, .highlight .na {
    color: #4070a0; }
  .highlight .nb {
    color: #007020; }
  .highlight .nc {
    color: #0e84b5;
    font-weight: bold; }
  .highlight .no {
    color: #60add5; }
  .highlight .nd {
    color: #555555;
    font-weight: bold; }
  .highlight .ni {
    color: #d55537;
    font-weight: bold; }
  .highlight .ne {
    color: #007020; }
  .highlight .nf {
    color: #06287e; }
  .highlight .nl {
    color: #002070;
    font-weight: bold; }
  .highlight .nn {
    color: #0e84b5;
    font-weight: bold; }
  .highlight .nt {
    color: #062873;
    font-weight: bold; }
  .highlight .nv {
    color: #bb60d5; }
  .highlight .ow {
    color: #007020;
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color: #40a070; }
  .highlight .sb, .highlight .sc {
    color: #4070a0; }
  .highlight .sd {
    color: #4070a0;
    font-style: italic; }
  .highlight .s2 {
    color: #4070a0; }
  .highlight .se {
    color: #4070a0;
    font-weight: bold; }
  .highlight .sh {
    color: #4070a0; }
  .highlight .si {
    color: #70a0d0;
    font-style: italic; }
  .highlight .sx {
    color: #c65d09; }
  .highlight .sr {
    color: #235388; }
  .highlight .s1 {
    color: #4070a0; }
  .highlight .ss {
    color: #517918; }
  .highlight .bp {
    color: #007020; }
  .highlight .vc, .highlight .vg, .highlight .vi {
    color: #bb60d5; }
  .highlight .il {
    color: #40a070; }

/* Comment */
/* Error */
/* Keyword */
/* Operator */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
* {
  color: #030303; }

.post-info, blockquote, .topic {
  background: #f0f0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

code, kbd, pre, samp {
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  padding: 20px 5px 20px 20px; }

h1.post-title {
  line-height: 1.2em;
  border-bottom: 1px solid #000;
  margin-bottom: 0px; }

.post-info {
  padding: 20px; }

td {
  white-space: nowrap;
  width: 1%; }

td.right {
  text-align: right; }

td a {
  line-height: 120%; }

p {
  line-height: 1.5em; }

a:hover {
  background-color: #C74350;
  color: white;
  text-decoration: none;
  border-bottom: none; }

blockquote {
  font-style: italic;
  font-weight: 300;
  padding: 2px 20px 2px 20px;
  margin: 20px 3px; }

li {
  margin: 4px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

span.label.label-default {
  background: #C74350;
  padding: 0.2em;
  font-size: 100%;
  display: inline;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em; }

.published {
  margin-right: 20px; }

.footnote-ref {
  border: 2px solid #C74350; }

body {
  font-family: "Droid Sans", "Merriweather", "Georgia", serif;
  font-weight: 300;
  background-color: #ddd; }
  body a {
    font-weight: 400;
    text-decoration: none;
    /* border-bottom: 2px dotted #C74350 */ }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Gentium Book Basic", "Georgia", serif; }
    body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a {
      font-weight: bold; }
  body iframe {
    max-width: 100%;
    margin: 2em auto;
    display: block; }

.disclaimer {
  text-align: center;
  font-size: 0.8em; }

.nav {
  list-style: none;
  padding-left: 0; }
  .nav li {
    display: inline-block;
    margin-right: 0.56em; }
    @media screen and (max-width: 640px) {
      .nav li {
        display: block;
        margin-right: 0; } }

.header-link {
  font-size: 70%;
  float: right; }

.landing-container {
  width: 65%;
  margin: 2em auto 0;
  font-family: "Droid Sans", "Merriweather", "Georgia", serif; }
  .landing-container li {
    font-family: "Gentium Book Basic", "Georgia", serif; }
  @media screen and (max-width: 640px) {
    .landing-container {
      width: 100%;
      margin: 1em 0; } }
  .landing-container header {
    font-size: 1.2em; }
    .landing-container header h1 {
      font-size: 4em;
      margin: 0.4em 0; }
  .landing-container ul {
    margin-top: 5em;
    margin-bottom: 3em;
    text-align: center; }
    .landing-container ul li {
      font-size: 2em; }

.container {
  max-width: 56em;
  margin: 1em auto;
  padding: 50px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1); }
  .container h1 {
    line-height: 1.2em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0px; }
  @media screen and (max-width: 640px) {
    .container {
      margin: 0.8em; } }
  .container .paginator {
    text-align: center;
    margin: 3.2em 0; }
  .container .blog-header {
    margin-bottom: 3em;
    position: relative; }
    .container .blog-header h1 {
      margin-bottom: 0;
      border: none; }
    .container .blog-header p {
      margin-top: 0.2em; }
    .container .blog-header nav {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 2px;
      font-family: "Gentium Book Basic", "Georgia", serif;
      padding-top: 10px; }
      @media screen and (max-width: 640px) {
        .container .blog-header nav {
          position: relative;
          text-align: center; } }
    @media screen and (max-width: 640px) {
      .container .blog-header {
        text-align: center; } }
    .container .blog-header a {
      text-decoration: none;
      border-bottom: none; }
  .container .nav {
    font-size: 1.2em; }
  .container .blog-footer {
    margin-top: 2em;
    text-align: center; }
  .container .post-list .post-overview {
    margin: 1em;
    position: relative;
    padding-left: 7em; }
    .container .post-list .post-overview time {
      position: absolute;
      left: 0em;
      top: 0.2em; }
  @media screen and (max-width: 640px) {
    .container .post-list .post-overview {
      margin: 0;
      top: 0em;
      padding-left: 0; }
      .container .post-list .post-overview time {
        position: relative; } }
  .container .post {
    font-size: 16px; }
    @media screen and (max-width: 640px) {
      .container .post {
        font-size: 1em; } }
    .container .post h1 {
      font-size: 1.5em; }
    .container .post h2 {
      font-size: 1.44em; }
    .container .post h3 {
      font-size: 1.3em; }
    .container .post h4 {
      font-size: 1.2em; }
    .container .post h5, .container .post h6 {
      font-size: 16px; }
    .container .post a {
      font-weight: 400; }
    .container .post img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 1.5em auto; }
    .container .post code {
      padding: 2px 4px;
      font-size: 90%;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px; }
    .container .post .highlight {
      font-size: 0.9em;
      overflow-x: auto; }
    .container .post header {
      margin: 2.2em 0; }
      .container .post header h1 {
        font-size: 2.45em; }
      .container .post header p.date {
        margin-top: -1.3em; }
    .container .post article {
      line-height: 1.73333em; }
    .container .post footer {
      margin: 2em 0 0 0;
      text-align: left; }

.topic {
  padding: 10px 20px;
  margin: 20px; }

.toc {
  border: 1px solid #c6c9cb; }

.highlight {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.highlight pre {
  padding: 20px; }

/*# sourceMappingURL=cid.css.map */
